.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.filmeItem {
  text-align: center;
}

.filmeItem p {
  color: black;
  font-size: 16px;
  margin-top: 10px;
}

.imagemFilme {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.navFilmes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}

.setaNav {
  background-color: #73c7b9;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.setaNav:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.setaNav:hover {
  background-color: #4a8e7c;
}
